body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0; /* Убираем отступы сверху */
	background-color: #f9f9f9;
}

.container {
	max-width: 100%;
	margin: auto;
	background-color: #fff;
	padding: 20px;
	padding-top: 5; /* Убираем отступы сверху */
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	color: #333;
}

h2 {
	margin-top: 15px;
}

ul {
	margin-bottom: 15px;
}

ul li {
	margin-bottom: 8px;
}

footer {
	margin-top: 30px;
	text-align: center;
	font-size: 0.8em;
	color: #666;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 22px;
	}

	h2 {
		font-size: 18px;
	}

	footer {
		font-size: 0.7em;
	}
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
