body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 10px; /* Уменьшим отступы */
    background-color: #f9f9f9; /* Добавим светлый фон */
}

.container {
    max-width: 100%;
    margin: auto;
    background-color: #fff; /* Белый фон контейнера */
    padding: 20px;
    border-radius: 10px; /* Закруглим углы контейнера */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавим тень */
}

h1 {
    text-align: center;
    color: #333; /* Цвет заголовка */
}

h2 {
    margin-top: 15px; /* Уменьшим отступ между заголовками */
}

ul {
    margin-bottom: 15px; /* Уменьшим отступ между списками */
}

ul li {
    margin-bottom: 8px; /* Уменьшим отступ между элементами списка */
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.8em;
    color: #666; /* Цвет текста подвала */
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 22px; /* Уменьшим размер заголовка для маленьких экранов */
    }

    h2 {
        font-size: 18px; /* Уменьшим размер заголовков в списке */
    }

    footer {
        font-size: 0.7em;
    }
}

